.game-board table {
  border-collapse: collapse;
  margin: 0 auto;
}

.game-board td {
  border: 1px solid #ccc;
  width: 30px;
  height: 30px;
  text-align: center;
  vertical-align: middle;
}

.game-board .cell {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 30px;
}

.game-board .filled {
  font-weight: bold;
}

.chat {
  width: 30%;
  float: right; /* agregar float a la derecha para que el "chat" aparezca a la derecha */
}
