<div class="container">
    <h1>Bienvenido a Number Match</h1>
    
    <hr>
    
    <h2>Seleccione un juego:</h2>
    
    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Number Match</h5>
            <p class="card-text">Juega al clásico juego de Number Match contra otros jugadores en línea.</p>
            <button  type="submit"  class="btn btn-primary">Jugar</button>
          </div>
        </div>
      </div>
      
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Otro juego</h5>
            <p class="card-text">Próximamente...</p>
            <a href="#" class="btn btn-secondary disabled">Jugar</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  